<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{page.title}} - Botathon.ai</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <meta name="description" content="Botathon.ai">
  <link rel="stylesheet" href="stylesheets/botathon.css">
</head>
<body>
  <img src="images/logo.png" class="logo" alt="Botathon.ai logo"/>
  <div class="content">
    {{ content }}
  </div>
</body>
</html>

