<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{page.title}} - Botathon.ai</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <meta name="description" content="Botathon.ai">
  <link rel="stylesheet" href="stylesheets/botathon.css">
  <meta property="og:title" content="Botathon 1.0 &mdash; October 8-9th 2016" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.botathon.ai/images/botathon-logo.png" />
</head>
<body>
  <div class="content">
    {{ content }}
  </div>
</body>
</html>

